*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kodchasan", sans-serif;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--link);
}
a:hover {
  text-decoration: none;
  color: var(--link-hover);
  transition: fill 0.2s ease-in-out;
}
img {
  width: 100%;
  object-fit: cover;
}
video{
    // max-width: 608px;
    // height: 300px;
  // object-fit: cover;
}
/* Tex классы */
.wrapper {
  max-width: 1470px;
  margin: 0 auto;
  background: linear-gradient(180deg, #e9e9e9 40%, #fff 100%);
  min-height: 100vh;
  padding-top: 32px;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--sm {
  max-width: 1340px;
  padding: 50px;
  margin: 0 auto;
      backdrop-filter: blur(34px);
}

.btn--primary {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--link);
  background-color: var(--primary);
  padding: 18px 54px 24px;
  @media screen and (max-width:500px) {
    padding: 14px 34px 16px;
    margin-bottom: 20px;
    
      }
}
.btn--primary:hover,
.btn--primary:focus {
  // background-color: var(--primary-hover);
  background-color: var(--link);
  color: var(--primary);
  transition: 0.2s ease-in-out;
}
.btn--primary:active {
  background-color: var(--primary-hover);
}
.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
  background-color: transparent;
  color: var(--primary);
  border: 1.5px solid var(--primary);
  /* border-radius: 5px; */
  padding: 10px 30px;
}
.btn:hover,
.btn.focus {
  color: var(--primary-hover);
  transition: 0.2s ease-in-out;
}
.btn2:active {
  color: var(--primary-hover);
}

.title--h1 {
  color: var(--title);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 236px;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
     @media screen and (max-width:1440px) {
        font-size: clamp(3.375rem, -8rem + 36.4vi, 14.75rem);
    }
}
.title--h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 60px;
  text-transform: capitalize;
  color: var(--primary-color);
    @media screen and (max-width:1440px) {
        font-size: clamp(1.25rem, 0.75rem + 1.6vi, 1.75rem);
    }
}
.title--h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: var(--title2);
  @media screen and (max-width:768px) {
      font-size: clamp(1.375rem, 1rem + 1.2vi, 1.75rem);
  }
}
.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--primary-color);
  padding: 10px 20px;
  background: var(--background-color-2);
}
.subtitle--2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--primary-color);
  padding: 10px 20px;
  background: transparent;
}

.desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--desc);

}
.desc--h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--subtext-color);
}
.desc--h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--subtext-color);
}
