.hero {
  position: relative;
  z-index: 5;
  padding-top: 100px;
  padding-bottom: 42px;

  &__desc {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 236px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--background-color-3);
    margin-bottom: 75px;
    @media screen and (max-width: 1440px) {
      font-size: clamp(3.375rem, -8rem + 36.4vi, 14.75rem);
      padding-top: 150px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 150px;
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    z-index: 1;
    max-width: 821px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--background-color-3);
    padding: 75px 0px 0px;
    width: 100%;
    @media screen and (max-width: 768px) {
      padding-top: 0px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1440px) {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      flex-wrap: wrap;
      // padding:clamp(1.25rem, -2.188rem + 11vi, 4.688rem) 0px 0px;
    }
  }
  &__item-data {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-right: 24px;
    @media screen and (max-width: 1440px) {
      font-size: clamp(2rem, -1rem + 9.6vi, 5rem);
    }
  }
  &__item-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--subtext-color);
    max-width: 160px;
    @media screen and (max-width: 1440px) {
      font-size: clamp(1rem, 0.5rem + 1.6vi, 1.5rem);
    }
  }
}
