.power {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding-top: 128px;
  padding-bottom: 128px;
  &__title {
    color: #fff;
    margin-bottom: 60px;
  }
  &__desc {
    color: #fff;
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 236px;
    letter-spacing: 0.04em;
  }
  &__images {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__images--l {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 20px;
  }
  &__images--r {
    display: flex;
    flex: 1 1 auto;
  }
  &__images--group {
    display: flex;
    flex: 1 1 auto;
    column-gap: 20px;
    @media screen and (max-width:768px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
